.event-side-menu {
  background-color: #f0f0f0;
  padding: 20px;
  width: 15%;
  height: 100vh;
  min-width: 150px;
}

.filter-category {
  margin-bottom: 20px;
}

.filter-category h3 {
  font-weight: bold;
}

.filter-category ul {
  list-style: none;
  padding: 0;
}

.filter-category li {
  margin: 5px 0;
}
.event-side-menu button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white !important; /* Using !important to ensure this style takes precedence */
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.event-side-menu button:hover {
  background-color: #0056b3;
}

.event-side-menu button i {
  margin-right: 5px;
}
