.secondary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.search-bar {
  flex-grow: 1;
  text-align: center;
  margin-right: 20px;
}

.search-bar input {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  width: 80%;
  border: 2px solid #0557fa;
  transition: border-color 0.3s;
}

.my-events-button,
.create-event-button {
  background: linear-gradient(to right, #0557fa, #0575fa);
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.create-event-button:hover,
.my-events-button:hover {
  background: linear-gradient(to right, #0575fa, #0557fa);
}
