.forum {
  background-color: white;
  position: relative;
}

.forum-main-content {
  display: flex;
  flex-direction: row;
  gap: 2.5%;
}

.side-menu {
  flex: 0 0 20%;
  height: 100vh;
  overflow-y: auto;
}

.right-side-section {
  flex: 0 0 25%;
  height: 100vh;
  overflow-y: auto;
}

.forum-content {
  flex: 0 0 50%;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  padding-top: 0;
  height: calc(100vh - 145px);
}

/* Customize the appearance of the scrollbar thumb */
.forum-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /* Scrollbar thumb color */
  border-radius: 10px;
  /* Rounded scrollbar thumb */
}

/* Customize the appearance of the scrollbar track */
.forum-content::-webkit-scrollbar-track {
  background-color: transparent;
  /* Scrollbar track color */
}
