/* ForumFeed.css */

.forum-feed {
    overflow-y: scroll;
    /* Enable vertical scrolling */
    max-height: calc(100vh - 200px);
    /* Adjust the max height as needed */
    padding: 20px;
    /* Add padding around the feed */
}

.forum-post {
    border: 1px solid #ddd;
    /* Border for each post */
    padding: 10px;
    /* Add padding to each post */
    margin-bottom: 20px;
    /* Spacing between posts */
}

.post-title {
    font-weight: bold;
    /* Title in bold */
}

.post-content {
    margin-top: 10px;
    /* Margin between title and content */
}

.post-image {
    max-height: 250px;
    display: block;
    margin-top: 10px;
    border: 1px solid grey;
}

.images-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}