.right-side-section-box {
    background-color: #f7f7f7;
    padding-right: 60px;
    border-radius: 5px;
    margin-top: 20px;
}

.trending-talks,
.trending-tags,
.advertisement {
    margin-bottom: 20px;
}

.trending-talks h2,
.trending-tags h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0557fa;
}

.trending-talks ul,
.trending-tags ul {
    list-style: none;
    padding: 0;
}

.trending-talks li,
.trending-tags li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 1rem;
}

.trending-tags li {
    font-weight: bold;
}

.advertisement img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.advertisement p {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5px;
    color: #777;
}

.heart-icon {
    color: red;
}