.secondary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  width: 100%;
  /* border-top: 2px solid #0557fa; */
}

.Forumlogo {
  width: 130px;
  height: auto;
}

.search-bar {
  flex-grow: 1;
  text-align: center;
}

.search-bar input {
  border-radius: 10px;
  padding: 7px;
  font-size: 17px;
  width: 80%;
  border: thin solid #0557fa;
  background-color: white;
}

.search-bar input::placeholder {
  color: #0557fa;
  font-weight: 100;
}

/* Style for the input when it is focused (clicked) */
.search-bar input:focus {
  border-color: #0557fa;
  color: #0557fa;
  outline: none;
}

.my-posts-button,
.create-post-button {
  background: linear-gradient(to right, #0557fa, #0575fa);
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.create-post-button:hover,
.my-posts-button:hover {
  background: linear-gradient(to right, #0575fa, #0557fa);
}
