/* CSS for the SideMenu component */
.side-menu {
  padding-top: 30px;
  /* width: 15%; */
  padding-left: 30px;
  padding-right: 10px;
  border-right: thin solid #0557fa;
  height: 100vh;
}

.category-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0557fa;
}

.catetgory :active {
  width: 30%;
}

.arrow {
  font-size: 18px;
  margin-right: 0px;
}

.subcategory-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 10px;
  color: #0557fa;
}
