.side-menu-box {
  padding-bottom: 60px;
  height: calc(100vh + 145px);
  padding-left: 60px;
}

.category-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0557fa;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  margin-top: 8px;
}

.home {
  color: #0557fa;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.category-content:hover {
  color: darkblue;
}

.category.active .category-content {
  color: darkblue;
}

/* Add this new style for the arrow icon */
.category-content .arrow {
  transition: transform 0.2s; /* Smooth transition for the arrow icon */
  position: absolute; /* Position the arrow */
  right: 10px; /* Adjust the right margin as needed */
}

/* Rotate the arrow icon when the category is active */
.category.active .category-content .arrow {
  transform: rotate(90deg);
}

.subcategory-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 10px;
  display: none; /* Hide subcategories by default */
}

/* Display subcategories when the category is active */
.category.active .subcategory-list {
  display: block;
}

.sub-tag {
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-top: 5px;
}

.sub-tag:hover,
.sub-tag.active {
  color: darkblue;
}

.tags-container {
  margin-left: 25px;
}

.icon-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.category-title {
  text-align: left;
}

.category-icon {
  width: 22px;
}

.sub-tag.active {
  color: darkblue;
  font-weight: 600;
}