.not-setup-container {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ready {
    font-size: 24px;
}

.click-below {
    margin-top: 10px;
}

.join-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.profile-setup-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.pre-form {
    margin-top: 21vh;
}

.form-select {
    width: 108%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* Add background color if needed */
    color: #333; /* Add text color if needed */
    font-size: 16px;
}
textarea {
    resize: none; /* Prevent manual resizing */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 200px; /* Set a maximum height, adjust as needed */
  }